spring:
  datasource:
    url: jdbc:mysql://k11e202.p.ssafy.io:3306/losszero?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul
    username: root
    password: losszero
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mqtt:
    clean-session: true
    connection-timeout: 100

  profiles:
    active: secret

server:
  servlet:
    context-path: /api/v1

logging:
  level:
    org.springframework: DEBUG